<img src="https://cars.usnews.com/pics/size/350x262/images/Auto/izmo/i159614912/2022_mazda_mazda_3_angularfront.jpg" [hidden]="selectedCar != 'mazda'">
<img src="https://www.toyota.com/imgix/content/dam/toyota/jellies/max/2022/prius/leco/1221/781/1.png?bg=fff&fm=webp&q=90&w=1764" [hidden]="selectedCar != 'toyota'">
<img src="https://imgd.aeplcdn.com/664x374/n/cw/ec/37640/endeavour-exterior-right-front-three-quarter-149473.jpeg?q=75" [hidden]="selectedCar != 'ford'">
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Skoda_Octavia_IV_liftback_%28cropped%29.jpg/1200px-Skoda_Octavia_IV_liftback_%28cropped%29.jpg?20210513080906" [hidden]="selectedCar != 'skoda'">
<img src="https://s.yimg.com/uu/api/res/1.2/xuS0wTNfNoaQUmYh6f9xUg--~B/Zmk9ZmlsbDtoPTQ1MDt3PTY3NTthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/os/creatr-uploaded-images/2021-04/4ae64a10-9e84-11eb-bcee-eddce68f6230.cf.webp" [hidden]="selectedCar != 'ferrari'">
<img src="https://assets.entrepreneur.com/content/3x2/2000/1641590672-Ent-Lambo.png?auto=webp&quality=95&crop=16:9&width=675" [hidden]="selectedCar != 'lamborghini'" >
<img src="https://i.ytimg.com/vi/IUQXfPY2Fqo/maxresdefault.jpg" [hidden]="selectedCar != 'james bond car'" >
